#projects {
  max-width: 1000px;
  margin: 0.675em auto;

  .project {
    &.active {
      border: 1px solid #add8e6;

      a {
        background-color: #ffffff;

        &:hover {
          background-color: #add8e6;
        }
      }
    }

    border: 1px solid #BDBDBD;
    display: inline-block;
    float: left;
    width: 20%;
    margin: 0 2% 2%;
    text-align: center;

    a {
      color: #888888;
      display: block;
      padding: 1em;
      background-color: #BDBDBD;
    }
  }
}

#project-template {
  display: none;
}

div.clear {
  clear: both;
}